body {
  max-width: 1200px;
  font-family: PTsans;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-menu {

  /*для сетки*/
  height: 56px;
  background: #cccccc;
}
.main-menu a {
  padding: 15px 0;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
/*.main-menu-logo {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #81b3d2;
  background-clip: content-box;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}*/
.main-menu-inf,
.main-menu-foto {
  float: left;
  width: 20%;
  background: white;
  text-align: center;
  vertical-align: middle;

  /*для сетки*/
  box-shadow: inset 3px 3px 0 0 black;
}
.main-menu-map,
.main-menu-hotel {
  float: right;
  width: 20%;
  background: white;
  text-align: center;
  vertical-align: middle;

  /*для сетки*/
  box-shadow: inset 3px 3px 0 0 black;
}

/*Сетка*/
.filter {
  min-height: 217px;
  background: #cccccc url("img/filter-back.jpg") no-repeat;
}
.found1 {
  float: left;
  width: 50%;

  /*для сетки*/
  min-height: 500px;
  box-shadow: inset 2px 2px #ccc
}
.hotel {
  display: block;
  height: 90px;

}
.found2 {
  float: right;
  width: 50%;

  /*для сетки*/
  min-height: 500px;
  box-shadow: inset 2px 2px black;
}
