body {
  min-width: 768px;
  max-width: 1200px;
  margin: auto;

  font-size: 14px;
  line-height: 24px;
  font-family: PTsans;
  text-transform: uppercase;

  background: #516893 url("../img/background.jpg") no-repeat center top;

}
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
.unvisible {
  display: none;
}
.menu {
  width: 88%;
  padding: 15px 6%;
  background: #ffffff
}

.menu .menu-group {
  display: table;
  table-layout: auto;
  width: 40%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .menu-item {
  display: table-cell;
}

.menu .menu-group:first-child {
  float: left;
  text-align: left;
}

.menu .menu-group:last-child {
  float: right;
  text-align: right;
}

.menu-item a {
  margin: 0 15px;
}

.main-header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}
.big-logo {
  margin: 76px 0 23px 50%;
  transform: translateX(-50%);
}
.layout-h2 {
  background: url("../img/background_h2.png") no-repeat;
}
.layout-h2 h2 {
  text-align: center;
  padding: 7% 20% 3% 20%;
}
.layout-h2 p {
  text-align: center;
  padding-bottom: 4%;
}

.motive {
  background: #ffffff

}

.motive li {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 330px;
  text-align: center;

}
.motive li:nth-child(1),
.motive li:nth-child(7) {
  background: #81b3d2;
  color: white;
  max-height: 256px;

}

.motive-logo {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.filter {
background: url("../img/filter-back.jpg") no-repeat;
padding: 6%;
}

fieldset {
  display: inline;
  width: 20%;

}

.filter-range {
  float: right;
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.hotels .hotel {
  padding: 20px 6%;
  border-bottom: 2px solid whitesmoke;
}

.hotels .hotel:first-child {
  border-top: 2px solid whitesmoke;
}

.hotels .hotel-photo {
  float: left;
  margin-right: 30px;
}

.hotel-photo img {
  display: block;
}

.hotels .hotel-info {
  float: left;
}

.hotels .hotel-title {
  display: block;
  margin-bottom: 20px;
}

.hotels .hotel-type,
.hotels .hotel-price,
.hotels .btn-more,
.hotels .btn-booking {
  float: left;
  display: block;
  width: 150px;
}

.btn-more {
  clear: left;
}

.hotels .hotel-rating {
  float: right;
}

.hotels .stars,
.hotels .score {
  text-align: right;
  margin-bottom: 20px;
}
